.header__text-box  
   h1.heading--1.header__heading around the world
   p.header__paragraph "Traveling - it leaves you speechless, then turns you into a storyteller"
+imgRespons('header__img','Header air balloon', 'png', ['air-balloon-xs', '400w'], ['air-balloon', '800w', '32vw','32vw', '647px'])
.header__logo-box 
   h2.header__logo 
      span t
      span h
      span e
      span r
      span o
      span a
      span d
