.customers-stories__bg-box
   video.customers-stories__bg(autoplay muted loop) 
      source(src="assets/img/video.mp4" type="video/mp4")
.customers-stories__grid 
   +reviewCard('it was the best days in this year', [['story-img-1-xs', '320w'], ['story-img-1', '640w', '16vw', '25vw', '200px']])
      p.story__paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi cupiditate, magnam nesciunt nisi perspiciatis inventore debitis provident ducimus iusto reiciendis eos quisquam velit necessitatibus molestias accusantium quidem nostrum deleniti consequuntur.

   +reviewCard('i enyojed this great tour', [['story-img-2-xs', '320w'], ['story-img-2', '640w', '16vw', '25vw', '200px']])
      p.story__paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi cupiditate, magnam nesciunt nisi perspiciatis inventore debitis provident ducimus iusto reiciendis eos quisquam velit necessitatibus molestias accusantium quidem nostrum deleniti consequuntur.
