h2.heading--2-primary the most popular tours
.popular-tours__grid
   +tourCard('The wild forest', ['7 days tour', 'Up to 20 people', '4 tour guides', 'Sleep on private tents', 'Difficulty: medium'], '399')
      +imgRespons('tour-card__img', 'Forest', 'jpg', ['forest-xs', '320w'], ['forest', '640w', '29vw', '44vw', '350px'])
   +tourCard('Along the river', ['9 days tour', 'Up to 30 people', '7 tour guides', 'Sleep on private tents', 'Difficulty: hard'], '499')
      +imgRespons('tour-card__img', 'River', 'jpg', ['river-xs', '320w'], ['river', '640w', '29vw', '44vw', '350px'])
   +tourCard('The island beach', ['5 days tour', 'Up to 40 people', '8 tour guides', 'Sleep in hotel', 'Difficulty: easy'], '599')
      +imgRespons('tour-card__img', 'Sea', 'jpg', ['sea-xs', '320w'], ['sea', '640w', '29vw', '44vw', '350px'])