include ../abstracts/variables
include ../abstracts/mixins

doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="shortcut icon" type="image/jpg" href="assets/img/icon-page.svg")
      //- fonts
      link(rel="preconnect" href="https://fonts.googleapis.com")
      link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
      link(href="https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;500;600;700;800&display=swap" rel="stylesheet")
      //- icon
      link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css' integrity='sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==' crossorigin='anonymous')
      //- style
      link(rel="stylesheet", href="css/main.css")

      title The road 
   body 
      .container
         include ../blocks/navigation
         block home
         include ../blocks/footer
      //- script 
      script(src="js/app.js") 
