extends ../templates/template
block home
   header.header
      include ../blocks/header
   main 
      article 
         section.popular-tours
            include ../blocks/tours
         section.customers-stories
            include ../blocks/reviews
         section.contact
            include ../blocks/contact